<div id="hero" style="background-image:url('<%= asset_path('background.jpg') %>')" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center" data-aos="fade-up">
    <h1>The team’s mission is to provide you the best deals at the lowest price and that too hastle-free..</h1>
    <p>We have successfully partnered with various dealers to build this network that will provide
      you the best car deals.
      Our goal is to make healthy relations with customer and build network.</p>
    <a href="#about" class="btn-buy-now scrollto">BUY NOW</a>
  </div>
</div>