// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

/* active_admin.scss */
.date-picker {
    width: 100%; /* Makes the date picker take the full width */
    max-width: 300px; /* Optional: Sets a maximum width */
}
  
.formtastic input {
width: 100%; /* Ensures all input fields take full width */
box-sizing: border-box; /* Ensures padding doesn't affect width */
}
    